@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
}

/* create new blog form */
.create,
.display-tasks {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.create label {
  text-align: left;
  display: block;
  color: #f1356d;
}
.create h1 {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* content style */

.display-tasks {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  border: #f1356d solid 1px;
  margin-top: 50px;
  height: 400px;
}

.content-holder {
  display: flex;
  gap: 1rem;
  text-align: center;
  border: #f1356d solid 1px;
  border-radius: 5px;
  background-color: #ffe15d;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.content-holder p {
  color: #b01e68;
}

.content-holder h3 {
  color: #f1356d;
}

.content {
  text-align: start;
}
